In [30]:
import pandas as pd
df = pd.read_csv('C:/Users/ahmed/Git/Python/databases/play_tennis.csv')
df = df.drop(columns=['day'])
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [32]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [52]:
py = 9/14
pn =5/14

In [53]:
print(py,pn)

0.6428571428571429 0.35714285714285715

In [36]:
df.groupby(['temp', 'play']).size()

outlook   play
Overcast  Yes     4
Rain      No      2
          Yes     3
Sunny     No      3
          Yes     2
dtype: int64

In [60]:
outlook = pd.crosstab(df['outlook'],df['play'])
outlook['poy'] = outlook['Yes']/outlook['Yes'].sum()
outlook['pon'] = outlook['No']/outlook['No'].sum()
outlook

play      No  Yes       poy  pon
outlook
Overcast   0    4  0.444444  0.0
Rain       2    3  0.333333  0.4
Sunny      3    2  0.222222  0.6

In [61]:
outlook.loc['Sunny','poy']

0.2222222222222222

In [47]:
temp = pd.crosstab(df['temp'],df['play'])
temp['poy'] = temp['Yes']/temp['Yes'].sum()
temp['pon'] = temp['No']/temp['No'].sum()
temp

play  No  Yes       poy  pon
temp
Cool   1    3  0.333333  0.2
Hot    2    2  0.222222  0.4
Mild   2    4  0.444444  0.4

In [49]:
humidity = pd.crosstab(df['humidity'],df['play'])
humidity['poy'] = humidity['Yes']/humidity['Yes'].sum()
humidity['pon'] = humidity['No']/humidity['No'].sum()
humidity

play      No  Yes       poy  pon
humidity
High       4    3  0.333333  0.8
Normal     1    6  0.666667  0.2

In [50]:
wind = pd.crosstab(df['wind'],df['play'])
wind['poy'] = wind['Yes']/wind['Yes'].sum()
wind['pon'] = wind['No']/wind['No'].sum()
wind

play    No  Yes       poy  pon
wind
Strong   3    3  0.333333  0.6
Weak     2    6  0.666667  0.4

In [56]:
x1 = 'poy'
x2 ='pon'

py * outlook.loc['Sunny','poy']
# pyes = py * outlook.loc['Sunny','poy'] * temp.loc['Hot','poy'] * humidity.loc['High','poy'] *wind.loc['Week','poy']
# pyes

KeyError: 'Week'